.nav-container {
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 2rem 2fr 1fr 3fr 1fr 2rem;
    box-shadow: rgba(50,50,93,0.25) 0px 50px 100px -20px,rgba(0,0,0,0.3) 0px 30px 60px -30px;
    background-color: #272727;
}
.flex {
    display: flex;
    align-items: center;
}
p {
    color: white;
    font-family: 'Lato', sans-serif;
}
.fs-xl {
    font-size: x-large;
}
 
.ml-10{
    margin-left: 10px;
}

.nav-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.nav-logo-container {
    grid-column: 2/3;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.ham-menu {
    display: none;
}
.nav-menu {
    grid-column: 4/5;
}
.nav-menu ul {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-menu li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.logout-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.logout-div{
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.logout-text {
    font-family: 'Lato', sans-serif;
    margin-right: 20px;
    margin-top: -3px;
    font-weight: 100;

}

@media (max-width: 1080px) {
    .nav-container{
        height: 3rem;
        grid-template-columns: 2rem 1fr 1fr 3fr 1fr 2rem;
    }
    .nav-logo,
    .nav-menu ul {
        height: 3rem;
    }
    .nav-logo{
        height: 40px;
        width: 40px;
    }
    .nav-menu li a {
        
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size:medium;
    }
}
@media (max-width:778px){
    .nav-container{
        height: 5rem;
        grid-template-columns: 1rem 1fr 3fr 1fr 1rem;
    }
    .nav-menu {
        display: none;
    }
    .ham-menu {
        display: block;
        font-size: 2rem;
        grid-column: 4/5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }
    .logout-button-container {
        display: none;
    }
    .nav-logo,
    .nav-menu ul {
        height: 5rem;
    }
    .nav-logo {
        height: 50px;
        width: 50px;

    }
    .mobile-menu-link {
        grid-column: 2/5;
        position: relative;
        z-index: 99;
      }
    
      .mobile-menu-link {
        position: absolute;
        top: 5rem;
        width: 100%;
        background-color: #272727;
        display: grid;
        grid-column: 3/4;
        align-items: center;
        padding-left: 3rem;
        transition: all 2s linear;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }
    
      .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
      }
      .mobile-menu-link li {
        color: #272727;
      }
    
      .mobile-menu-link ul li:first-child {
        transition-delay: 0.2s;
      }
}