body {
    background-color: transparent;
    background-image: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png");
     background-size: cover;
  }

  .pointer{
    cursor: pointer;
  }
  .login-container{
    display: flex;
    justify-content: center;
  }
  
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    background-color: transparent;
    border-radius: 10px;
    
  }
  .options{
    display: flex;
    justify-content: center;
  }
  
  .logo {
    width: 100%;
    text-align: center;
  }
  
  .logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="email"] {
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .main_button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: none;
    background-color: #2196F3;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .main_button :hover,
  .main_button :active,
  .main_button :focus {
    background-color: #1976D2;
  }
.link {
    color: #2196F3;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 5px;
}
  
  .form h2 {
    color: #333333;
    font-size: 28px;
    margin: 0 0 30px;
  }
  
  .form p.message {
    color: #666666;
    font-size: 14px;
    margin-top: 15px;
  }
  
  .form p.message a {
    color: #2196F3;
    text-decoration: none;
  }
  
  .form p.message a:hover {
    text-decoration: underline;
  }
  