.file-card-container{
    display: grid;
    grid-template-columns: 1fr 5fr 0.5fr;
    height: 100px;
    width: 400px;
    background-color: #272727;
    border-radius: 10px;
    margin: 10px;
    border-left: 4px solid rgba(47, 201, 226, 1);
}
.file-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}
.mime-type-icon{
    height: 50px;
    width: 50px;
    color: rgba(47, 201, 226, 1);
}
.file-list-container{
    padding: 10px;
}
.info-element{
    display: flex;
    padding: 1px;
    color: white;
}
.file-info{
    padding: 5px;
}
.file-attrib{
    font-family: 'Oswald', sans-serif;
    font-size: small;
}
.file-value{
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
    font-size: small;
    width: 200px;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.download-icon-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 20px;
}
.download-icon{
    height: 20px;
    width: 20px;
    color: white;
    cursor: pointer;
}
.events-none{
    pointer-events: none;
}