.main-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 20px;
    height: calc(100vh - 80px);
    overflow: hidden;
}

.dashboard-container{
  height: 100vh;
}

input#file {
    display: inline-block;
    width: 100%;
    padding: 70px 0 0 0;
    height: 40px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 60px 60px;
    cursor: pointer;
  }

  .upload-file{
    background: white;
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    height: calc(100vh - 120px);
  }
  .file-list-container{
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    background: white;
    margin-left: 5px;
    border-radius: 10px;
    align-items: center;
    height: calc(100vh - 172px);
  }
  .search-bar-container {
    background-color: white;
    padding: 0px;
    margin: 0px 0px 10px 8px;
    border-radius: 10px;
  }

  .options-container{
    width: 25%;
    height: 100%;
    /* background: aqua; */
    margin: 0px 30px 0px 0px;
    /* border-radius: 10px; */
    border-right: 2px solid #f1f1f1;
  }
  .dashed-border{
    border: dashed 2px #000;
    border-radius: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    background: #e4e4e4;
  }
  .scrollable-file-list{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }
 
  .filter-sort{
        display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background: #e4e4e4;
    margin: 0px 30px 0px 0px;
    border-radius: 10px;
  }
  .filter{
    width: 100%;
  }

  .filter-header{
    font-family: 'Shantell Sans', cursive;
    font-size: large;
    font-weight: bold;
    padding: 12px;
  }
  .filter-checkboxes{
    padding: 0px 10px 10px 10px;
  }
  
  .weird-button {
    align-items: center;
    background: #fbfbfb;
    border: 0px solid #9c9b9b;
    box-shadow: 4px 4px 6px -13px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgb(177 177 177);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 25px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 15px;
    text-decoration: none;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10px;
  }

  .upload-text-container{
    justify-content: center;
    display: grid;
  }

  .upload-text-header{
    font-family: 'Shantell Sans', cursive;
    font-weight: 700;
    font-size: small;
    text-align: center;

  }
  .upload-text{
    font-family: 'Shantell Sans', cursive;
    font-size: small;
    text-align: center;
  }
  .main-info-container{
    display: flex;
    flex-direction: column;
  }

@media (max-width: 1080px) {
    .main-container{
    height: calc(100vh - 70px);
    }
}
@media (max-width: 778px) {
    .main-container{
    height: calc(100vh - 100px);
    }
}